USE [Practica7]
GO
/****** Object:  Table [dbo].[VentasPerArt]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP TABLE [dbo].[VentasPerArt]
GO
/****** Object:  Table [dbo].[Lugar]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP TABLE [dbo].[Lugar]
GO
/****** Object:  Table [dbo].[Arenas]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP TABLE [dbo].[Arenas]
GO
/****** Object:  View [dbo].[Revision15]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP VIEW [dbo].[Revision15]
GO
/****** Object:  View [dbo].[Revision14]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP VIEW [dbo].[Revision14]
GO
/****** Object:  View [dbo].[Revision13]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP VIEW [dbo].[Revision13]
GO
/****** Object:  View [dbo].[Revision11]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP VIEW [dbo].[Revision11]
GO
/****** Object:  View [dbo].[Revision10]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP VIEW [dbo].[Revision10]
GO
/****** Object:  View [dbo].[Revision9]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP VIEW [dbo].[Revision9]
GO
/****** Object:  View [dbo].[Revision8]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP VIEW [dbo].[Revision8]
GO
/****** Object:  View [dbo].[Revision7]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP VIEW [dbo].[Revision7]
GO
/****** Object:  View [dbo].[Revision6]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP VIEW [dbo].[Revision6]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP TABLE [dbo].[Clientes]
GO
/****** Object:  View [dbo].[Revision5]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP VIEW [dbo].[Revision5]
GO
/****** Object:  Table [dbo].[Precios]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP TABLE [dbo].[Precios]
GO
/****** Object:  View [dbo].[Revision4]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP VIEW [dbo].[Revision4]
GO
/****** Object:  View [dbo].[Revision3]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP VIEW [dbo].[Revision3]
GO
/****** Object:  View [dbo].[Revision2]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP VIEW [dbo].[Revision2]
GO
/****** Object:  View [dbo].[Revision]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP VIEW [dbo].[Revision]
GO
/****** Object:  Table [dbo].[Boletos]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP TABLE [dbo].[Boletos]
GO
/****** Object:  Table [dbo].[Artistas]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP TABLE [dbo].[Artistas]
GO
USE [master]
GO
/****** Object:  Database [Practica7]    Script Date: 05/05/2018 06:49:04 p. m. ******/
DROP DATABASE [Practica7]
GO
/****** Object:  Database [Practica7]    Script Date: 05/05/2018 06:49:04 p. m. ******/
CREATE DATABASE [Practica7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Practica4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practica4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Practica4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica7]
GO
USE [Practica7]
GO
/****** Object:  Table [dbo].[Artistas]    Script Date: 05/05/2018 06:49:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artistas](
	[ArtistaBanda] [varchar](50) NOT NULL,
	[Nacionalidad] [varchar](50) NOT NULL,
	[idArtista] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boletos]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boletos](
	[idArena] [int] NOT NULL,
	[idLugar] [int] NOT NULL,
	[idArtista] [int] NOT NULL,
	[idCliente] [int] NOT NULL,
	[idBoleto] [int] NOT NULL,
	[ventas] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Revision]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Revision] as
select ventas
from Boletos
inner join Artistas on Boletos.idArtista = Artistas.idArtista;
GO
/****** Object:  View [dbo].[Revision2]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Revision2] as
select ventas
from Boletos
left join Artistas on Boletos.idArtista = Artistas.idArtista;
GO
/****** Object:  View [dbo].[Revision3]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Revision3] as
select ventas
from Boletos
right join Artistas on Boletos.idArtista = Artistas.idArtista;
GO
/****** Object:  View [dbo].[Revision4]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Revision4] as
select ventas
from Boletos
full join Artistas on Boletos.idArtista = Artistas.idArtista;
GO
/****** Object:  Table [dbo].[Precios]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Precios](
	[PrecioNeto] [money] NOT NULL,
	[Descuento] [money] NOT NULL,
	[Total] [money] NOT NULL,
	[idPrecio] [int] NOT NULL,
	[idArtista] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Revision5]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Revision5] as
select ArtistaBanda
from Artistas
right join Precios on Artistas.idArtista = Precios.idArtista;
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[NombreCliente] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Sexo] [nchar](10) NOT NULL,
	[idCliente] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Revision6]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Revision6] as
select NombreCliente
from Clientes
where Sexo = 'H'
group by NombreCliente;
GO
/****** Object:  View [dbo].[Revision7]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Revision7] as
select NombreCliente
from Clientes
where Sexo = 'M'
group by NombreCliente;
GO
/****** Object:  View [dbo].[Revision8]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Revision8] as
select NombreCliente
from Clientes
where Edad > 20
group by NombreCliente;
GO
/****** Object:  View [dbo].[Revision9]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Revision9] as
select NombreCliente
from Clientes
where Edad < 30
group by NombreCliente;
GO
/****** Object:  View [dbo].[Revision10]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Revision10] as
select NombreCliente
from Clientes
where idCliente > 4
group by NombreCliente;
GO
/****** Object:  View [dbo].[Revision11]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Revision11] as
select count (idCliente) NombreCliente
from Clientes
where Sexo = 'H'
group by NombreCliente
having count (idCliente) > 1;
GO
/****** Object:  View [dbo].[Revision13]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Revision13] as
select count (idCliente) NombreCliente
from Clientes
where Sexo = 'M'
group by NombreCliente
having count (idCliente) > 1;
GO
/****** Object:  View [dbo].[Revision14]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Revision14] as
select count(Edad) NombreCliente
from Clientes
where sexo = 'M'
group by NombreCliente
having count(Edad) < 30;
GO
/****** Object:  View [dbo].[Revision15]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Revision15] as
select count(Edad) NombreCliente
from Clientes
where idCliente > 0
group by NombreCliente
having count(Edad) < 18;
GO
/****** Object:  Table [dbo].[Arenas]    Script Date: 05/05/2018 06:49:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arenas](
	[Arena] [varchar](50) NOT NULL,
	[Localización] [varchar](50) NOT NULL,
	[Renta] [money] NULL,
	[idArena] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lugar]    Script Date: 05/05/2018 06:49:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lugar](
	[Lugar] [varchar](50) NOT NULL,
	[idArena] [int] NOT NULL,
	[idPrecio] [int] NOT NULL,
	[idLugar] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VentasPerArt]    Script Date: 05/05/2018 06:49:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentasPerArt](
	[ventas] [int] NULL,
	[ArtistaBanda] [varchar](50) NOT NULL,
	[idArtista] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Arenas] ([Arena], [Localización], [Renta], [idArena]) VALUES (N'Estadio Tigres', N'CiudadUniversitaria', 700.0000, 2)
INSERT [dbo].[Arenas] ([Arena], [Localización], [Renta], [idArena]) VALUES (N'Estadio Monterrey', N'A lado de bosque Magico', 500.0000, 3)
INSERT [dbo].[Arenas] ([Arena], [Localización], [Renta], [idArena]) VALUES (N'FCFM', N'Ciudad Universitaria', 700.0000, 5)
INSERT [dbo].[Artistas] ([ArtistaBanda], [Nacionalidad], [idArtista]) VALUES (N'Green Day', N'E.U.', 1)
INSERT [dbo].[Artistas] ([ArtistaBanda], [Nacionalidad], [idArtista]) VALUES (N'Nickelback', N'E.U.', 2)
INSERT [dbo].[Artistas] ([ArtistaBanda], [Nacionalidad], [idArtista]) VALUES (N'Camilla Cabello', N'Colombia', 3)
INSERT [dbo].[Boletos] ([idArena], [idLugar], [idArtista], [idCliente], [idBoleto], [ventas]) VALUES (1, 1, 2, 10, 1, 9)
INSERT [dbo].[Boletos] ([idArena], [idLugar], [idArtista], [idCliente], [idBoleto], [ventas]) VALUES (3, 2, 4, 9, 2, 9)
INSERT [dbo].[Boletos] ([idArena], [idLugar], [idArtista], [idCliente], [idBoleto], [ventas]) VALUES (5, 3, 6, 8, 3, 8)
INSERT [dbo].[Clientes] ([NombreCliente], [Edad], [Sexo], [idCliente]) VALUES (N'Marco', 18, N'H         ', 1)
INSERT [dbo].[Clientes] ([NombreCliente], [Edad], [Sexo], [idCliente]) VALUES (N'Arenita', 21, N'M         ', 2)
INSERT [dbo].[Clientes] ([NombreCliente], [Edad], [Sexo], [idCliente]) VALUES (N'Patrick', 32, N'H         ', 3)
INSERT [dbo].[Lugar] ([Lugar], [idArena], [idPrecio], [idLugar]) VALUES (N'A', 1, 1, 1)
INSERT [dbo].[Lugar] ([Lugar], [idArena], [idPrecio], [idLugar]) VALUES (N'B', 1, 2, 2)
INSERT [dbo].[Lugar] ([Lugar], [idArena], [idPrecio], [idLugar]) VALUES (N'C', 1, 3, 3)
INSERT [dbo].[Precios] ([PrecioNeto], [Descuento], [Total], [idPrecio], [idArtista]) VALUES (100.0000, 50.0000, 50.0000, 1, 3)
INSERT [dbo].[Precios] ([PrecioNeto], [Descuento], [Total], [idPrecio], [idArtista]) VALUES (1200.0000, 200.0000, 1000.0000, 2, 1)
INSERT [dbo].[Precios] ([PrecioNeto], [Descuento], [Total], [idPrecio], [idArtista]) VALUES (500.0000, 300.0000, 200.0000, 3, 5)
INSERT [dbo].[VentasPerArt] ([ventas], [ArtistaBanda], [idArtista]) VALUES (8, N'Green Day', 1)
INSERT [dbo].[VentasPerArt] ([ventas], [ArtistaBanda], [idArtista]) VALUES (9, N'Nickelback', 2)
INSERT [dbo].[VentasPerArt] ([ventas], [ArtistaBanda], [idArtista]) VALUES (9, N'Simple Plan', 4)
USE [master]
GO
