USE [Case1]
GO
/****** Object:  Index [IX_Artistas]    Script Date: 02/03/2018 05:36:22 p. m. ******/
DROP INDEX [IX_Artistas] ON [dbo].[Artistas]
GO
/****** Object:  Table [dbo].[Lugares]    Script Date: 02/03/2018 05:36:22 p. m. ******/
DROP TABLE [dbo].[Lugares]
GO
/****** Object:  Table [dbo].[Butaca3]    Script Date: 02/03/2018 05:36:22 p. m. ******/
DROP TABLE [dbo].[Butaca3]
GO
/****** Object:  Table [dbo].[Butaca2]    Script Date: 02/03/2018 05:36:22 p. m. ******/
DROP TABLE [dbo].[Butaca2]
GO
/****** Object:  Table [dbo].[Butaca1]    Script Date: 02/03/2018 05:36:22 p. m. ******/
DROP TABLE [dbo].[Butaca1]
GO
/****** Object:  Table [dbo].[Boeto]    Script Date: 02/03/2018 05:36:22 p. m. ******/
DROP TABLE [dbo].[Boeto]
GO
/****** Object:  Table [dbo].[Artistas]    Script Date: 02/03/2018 05:36:22 p. m. ******/
DROP TABLE [dbo].[Artistas]
GO
USE [master]
GO
/****** Object:  Database [Case1]    Script Date: 02/03/2018 05:36:22 p. m. ******/
DROP DATABASE [Case1]
GO
/****** Object:  Database [Case1]    Script Date: 02/03/2018 05:36:22 p. m. ******/
CREATE DATABASE [Case1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Case1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Case1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Case1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Case1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Case1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Case1]
GO
USE [Case1]
GO
/****** Object:  Table [dbo].[Artistas]    Script Date: 02/03/2018 05:36:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artistas](
	[idArtistas] [uniqueidentifier] NOT NULL,
	[NombrArtista] [varchar](50) NOT NULL,
	[LugarPresentacion] [varchar](50) NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
	[CostoExtra] [money] NOT NULL,
 CONSTRAINT [PK_Artistas] PRIMARY KEY CLUSTERED 
(
	[idArtistas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boeto]    Script Date: 02/03/2018 05:36:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boeto](
	[idBoleto] [uniqueidentifier] NOT NULL,
	[ArtistaName] [varchar](50) NOT NULL,
	[LugarPresent] [varchar](50) NOT NULL,
	[Butaca] [int] NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
	[CostoFinal] [money] NULL,
 CONSTRAINT [PK_Boeto] PRIMARY KEY CLUSTERED 
(
	[idBoleto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Butaca1]    Script Date: 02/03/2018 05:36:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Butaca1](
	[idButaca1] [uniqueidentifier] NOT NULL,
	[Tipo] [nchar](10) NULL,
	[Precio] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Butaca2]    Script Date: 02/03/2018 05:36:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Butaca2](
	[idButaca2] [uniqueidentifier] NOT NULL,
	[Tipo] [nchar](10) NOT NULL,
	[Precio] [money] NOT NULL,
 CONSTRAINT [PK_Butaca2] PRIMARY KEY CLUSTERED 
(
	[idButaca2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Butaca3]    Script Date: 02/03/2018 05:36:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Butaca3](
	[idButaca3] [uniqueidentifier] NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Precio] [money] NOT NULL,
 CONSTRAINT [PK_Butaca3] PRIMARY KEY CLUSTERED 
(
	[idButaca3] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lugares]    Script Date: 02/03/2018 05:36:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lugares](
	[idLugares] [uniqueidentifier] NOT NULL,
	[EstadioA] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Artistas]    Script Date: 02/03/2018 05:36:23 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Artistas] ON [dbo].[Artistas]
(
	[idArtistas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
